/*Variables and Globals*/

:root {
    --clr-main: #7373e9;
    --clr-second: #454581;
    --clr-fill: #fff;
    --clr-space: #d0cdcd;
    --clr-border: #d3caca;
    --clr-borderline: #f32929;
    --clr-not2: black;
    --clr-badge: red;
    --clr-not: #a5e779;
    --clr-alert: orange;
    --fnt-size-l: 35px;
    --fnt-size-m: 20px;
    --fnt-size-s: 13px;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

/*Grid Container*/
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
                "header"
                "nav"
                "main";
}

header {
    grid-area: header;
    background-color: var(--clr-main);
    display: flex;
    color: var(--clr-fill);
    padding: 10px;
    align-items: center;
}

/*header span {                     header span Toggle on off switch?
    font-size: var(--fnt-size-m);
    font-weight: 30;
}*/

header h3 {
    font-size: var(--fnt-size-s);
}

nav {
    grid-area: nav;
    background-color: var(--clr-second);
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
}

main {
    grid-area: main;
    grid-template-columns: 100%;
}
