/*Variables and Globals*/

:root {
    --clr-main: ;
    --clr-second: ;
    --clr-fill: ;
    --clr-space: ;
    --clr-border: ;
    --clr-borderline: ;
    --fnt-size-l: ;
    --fnt-size-m: ;
    --fnt-size-s: ;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    margin: 0;
    padding: 0;
}


/*Grid Container*/